<h1>Edit profile</h1>

<%= form_for(@user, html: {multipart: true}) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :about_me %>
  <%= f.text_field :about_me %>

  <%= f.label :all_tags %>
  <%= f.text_field :all_tags%>

  <%= f.file_field :avatar, onchange: "Validate(this)", class: 'file-upload'%>
  <div style = "display:none;" id = "change_avatar_for_user_edit"><img id="img_prev" alt="your image", class = "avatar-image"/></div>
  <div id = "avatar_for_user_edit" ><%= avatar_for(@user)%></div>
  <%= f.submit "Save Change" %>

<%end%>
