<!DOCTYPE html>
<html>
  <head>
    <title>Vhost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
        <% flash.each do |a, b| %>
          <div class="alert alert-succes"> <%= b %> </div>
        <% end %>
        <h1 class="mt-5"><%= yield %></h1>
      </div>
      </div>
    </div>
  </body>
</html>
